@import "tailwindcss";
@import "./themes.css";

html,
body,
#root {
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color-default);
  color: var(--text-color-default);
  font-family: var(--font-sans);
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
  scrollbar-width: none;
  accent-color: var(--ring-color-default);
}

button:focus-visible,
a:focus-visible,
link:focus-visible,
input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  @apply outline-none rounded-md ring-accented/75 ring-2;
}

/* Default hyperlink styling */
a {
  text-decoration: underline;
  @apply font-serif;
}

a:hover {
  text-decoration: none;
}

.scrollbar-thin {
  scrollbar-width: thin;
}

.scrollbar-gutter-stable {
  scrollbar-gutter: stable;
}

.scrollbar-color-default {
  scrollbar-color: color-mix(
      in srgb,
      var(--background-color-default) 50%,
      var(--background-color-inverted)
    )
    color-mix(
      in srgb,
      var(--background-color-default) 50%,
      var(--text-color-muted)
    );
}
