@import "tailwindcss";
:root {
  --bs-body-bg: none;
  --bs-link-hover-color: none;
  --bs-tertiary-bg: none;
  --bs-link-color: none;
  --linaria-1: #b24592;
  --linaria-2: #f15f79;
  --text: #fff;
  --bg: #204378;
}

html,
body,
#root {
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
  @media (min-width: 768px) {
    overflow: auto;
  }

  background-color: var(--bg);
  color: var(--text);
  font-family: sans-serif;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

/* bb-code styles */
.bb-code-b {
  font-weight: bold;
}

.bb-code-quote {
  @apply border-2 p-4 border-black; /* Tailwind utilities for border and padding */
}

/* Tailwind Utilities */
@layer base {
  /* Global Body Styles */
  body {
    @apply bg-[var(--bg)] text-[var(--text)] font-sans;
    transition:
      background-color 0.2s ease-in-out,
      color 0.2s ease-in-out;
  }
}
