@import "tailwindcss";
@import "~/assets/themes/base.css";

/** FIXME: #111 move the bbcode styles elsewhere */
.bb-code-b {
  font-weight: bold;
}

.bb-code-quote {
  .bb-code-quote-body {
    border: 0.2rem solid black;
    padding: 1rem;
  }
}
