@import "./themes/midnight.css";
@import "./themes/kikori.css";
@import "./themes/goron.css";
@import "./themes/sheik.css";

/* Base theme rules */
@theme {
  --text-color-dimmed: #9ca3af;
  --text-color-muted: #6b7280;
  --text-color-toned: #374151;
  --text-color-default: #ffffff;
  --text-color-highlighted: #f3f4f6;
  --text-color-inverted: #1f2937;

  --background-color-default: #374151;
  --background-color-muted: #1f2937;
  --background-color-elevated: #4b5563;
  --background-color-accented: #111827;
  --background-color-inverted: #ffffff;

  --border-color-default: #000000;
  --border-color-muted: #374151;
  --border-color-accented: #1f2937;
  --border-color-inverted: #ffffff;

  --ring-color-default: #000000;
  --ring-color-muted: #374151;
  --ring-color-accented: #1f2937;
  --ring-color-inverted: #ffffff;

  --ring-offset-color-default: #000000;
  --ring-offset-color-muted: #374151;
  --ring-offset-color-accented: #1f2937;
  --ring-offset-color-inverted: #ffffff;

  --divide-color-default: #000000;
  --divide-color-muted: #374151;
  --divide-color-accented: #1f2937;
  --divide-color-inverted: #ffffff;

  --outline-color-default: #000000;
  --outline-color-inverted: #ffffff;

  --stroke-color-default: #000000;
  --stroke-color-inverted: #ffffff;

  --fill-color-default: #000000;
  --fill-color-inverted: #ffffff;

  --image-board-status-off: url("/src/assets/themes/midnight/images/board-summary/off.gif");
  --image-post-indicator: url("/src/assets/themes/midnight/images/post/xx.gif");
  --image-topic-normal: url("/src/assets/themes/midnight/images/topic/normal_post.gif");
}

@layer base {
  /* BBCode styles */
  .bb-code-b {
    font-weight: bold;
  }

  .bb-code-quote .bb-code-quote-body {
    border: 0.2rem solid black;
    padding: 1rem;
    @apply size-full overflow-auto;
  }

  /* Theme Image Classes */
  .theme-board-status {
    background-image: var(--image-board-status-off);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    height: 1.5rem;
  }

  .theme-post-indicator {
    background-image: var(--image-post-indicator);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 1rem;
    height: 1rem;
  }

  .theme-topic-normal {
    background-image: var(--image-topic-normal);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    height: 1.5rem;
  }
}
