@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");

.container-xxl {
  @media (min-width: 1400px) {
    max-width: 145rem;
  }
}

:root {
  --bs-body-bg: none;
  --bs-link-hover-color: none;
  --bs-tertiary-bg: none;
  --bs-link-color: none;
}
