@layer base {
  @theme {
    --color-background: var(--color-black);
    --color-text: var(--color-white);
  }

  html,
  body,
  #root {
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
    @media (min-width: 768px) {
      overflow: auto;
    }
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: sans-serif;
    transition:
      background-color 0.2s ease-in-out,
      color 0.2s ease-in-out;
  }
}
