@layer base {
  .theme-goron {
    --background-color-default: #651918;
    --background-color-muted: #4b1312;
    --background-color-elevated: #541716;
    --background-color-accented: #3a0f0e;

    --border-color-accented: #4b1312;

    --ring-color-accented: #4b1312;

    --ring-offset-color-accented: #4b1312;

    --divide-color-accented: #4b1312;
  }
}
