@layer base {
  .theme-kikori {
    --background-color-default: #207842;
    --background-color-muted: #1e4438;
    --background-color-elevated: #25584a;
    --background-color-accented: #133d29;

    --border-color-accented: #1e4438;

    --ring-color-accented: #1e4438;

    --ring-offset-color-accented: #1e4438;

    --divide-color-accented: #1e4438;
  }
}
