@layer base {
  .theme-midnight {
    --background-color-default: #204378;
    --background-color-muted: #1e2b44;
    --background-color-elevated: #25334e;
    --background-color-accented: #132241;

    --border-color-accented: #1e2b44;

    --ring-color-accented: #1e2b44;

    --ring-offset-color-accented: #1e2b44;

    --divide-color-accented: #1e2b44;
  }
}
