@layer base {
  .theme-midnight {
    --text-color-muted: #b0b4bf;
    --text-color-toned: #8e95a4;

    --background-color-default: #204378;
    --background-color-muted: #1e2b44;
    --background-color-elevated: #25334e;
    --background-color-accented: #132241;

    --border-color-accented: #132241;

    --ring-color-accented: #4c83ff;

    --ring-offset-color-accented: #0b1528;

    --divide-color-accented: #132241;
  }
}
