@layer base {
  .theme-sheik {
    --background-color-default: #7371d8;
    --background-color-muted: #5a59b3;
    --background-color-elevated: #8583e0;
    --background-color-accented: #3c3a8f;

    --border-color-accented: #5a59b3;

    --ring-color-accented: #5a59b3;

    --ring-offset-color-accented: #5a59b3;

    --divide-color-accented: #5a59b3;
  }
}
